body {
  font-family: "Roboto Flex", sans-serif;
}
footer {
  text-align: center;
}
ul {
  list-style: none;
  margin-left: 0 auto;
  padding-left: 0;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 5px;
}
.card-custom {
  max-width: 700px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
.card-body {
  color: rgb(91, 98, 117);
}

.custom-hr {
  color: rgb(14, 109, 253);
}

#city {
  font-size: 55px;
  margin-bottom: 0;
}
#weathr-parameters #humidity,
#weathr-parameters #humidityUnits,
#weathr-parameters #wind,
#weathr-parameters #windUnits {
  color: rgb(153, 214, 249);
}

#current-weather-description {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-transform: capitalize;
  text-align: center;
  margin-top: -40px;
  padding-left: 70px;
}

#degree {
  font-size: 80px;
  color: (90, 99, 116);
}
.current-temperature-container .units {
  font-size: 16px;
  position: relative;
  top: -45px;
}
.current-temperature-container .units a {
  text-decoration: none;
}
.current-temperature-container .units .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
#search-button,
#current-location {
  background-color: transparent;
}
#search-button {
  border-color: rgb(240, 233, 234);
}

#current-location {
  border-color: transparent;
}
.location-icon {
  color: rgb(153, 214, 249);
}
.search-icon {
  color: rgb(133, 139, 152);
}
